/* Styles for Heather - A Hyperminimal Jekyll Theme */

/* BASSCSS Reset - http://jxnblk.github.io/basscss */
html {
  -webkit-font-smoothing: antialiased;
  scroll-behavior: smooth;
}
@media screen and (prefers-reduced-motion: reduce) {
	html {
		scroll-behavior: auto;
	}
}
body, h1, h2, h3, h4, h5, h6, dl, ol, ul, p,
button, input, select, textarea { margin: 0; }
button, input, select, textarea {
  font-family: inherit;
  font-size: 100%;
}
article, aside, details, figcaption, figure, footer, header, main, nav, section, summary { display: block; }
body {
  color: #EEE;
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: normal;
  font-style: normal;
  font-size: 18px;
  font-weight: 300;
  line-height: 1.618;
  min-height: 100%;
  background-color: #000;
}
body * { box-sizing: border-box; }
h1, h2, h3, h4, h5, h6, ul, ol, p {
  padding: .5rem 1rem 1rem;
}
h1, h2, h3, h4, h5, h6 {
  font-family: "Bebas Neue", sans-serif;
  font-weight: 400;
  font-style: normal;
}
h1 { font-size: 4.236rem; }
h2 { font-size: 2.618rem; }
h3 { font-size: 1.618rem; font-weight: 600; }
h4 { font-size: 1rem; font-weight: 600; }
h5 { font-size: .9rem; font-weight: 600; }
h6 { font-size: .82rem; font-weight: 600; }
p { font-size: 1.1rem; }

/* lists */
ul, ol, dl { padding: 0 0 1.5em 2.5rem; }
li { margin-left: 1em; }

/* paragraph */
p:first-of-type p + p {
  margin-bottom: 0;
  padding-bottom: 0;
}
p:last-of-type {
  margin-bottom: 2rem;
}
.layout { width: 100%; }
.page {
  position: relative;
  padding: 0;
  margin: 0 auto;
}

.page section {
  position: relative;
  margin: 40em 0 0 0;
  background-color: #000;
  padding: 4em 1em 1em 1em;
  scroll-behavior: smooth;
}

.page section h1 {
  /* z-index: 1000; */
  position: relative;
}

section header {
  /* position: absolute; */
  width: 100%;
}

section .content {
  position: relative;
  color: #eee;
  padding: 0 1em;
}
section .content a { color: #FFAAAA; }
section .content a:hover { color: #FF0082; }

section .primary-image {
  width: 100%;
}

section.services {
  margin: 0;
}

@media screen and (min-width: 1024px) {
  .page section {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: flex-start;
    justify-content: center;
    align-items: flex-start;
  }
  section .content,
  section figure { 
    width: 50%;
  }
}

/* ----------- iPhone 5 and 5S ----------- */

/* Portrait and Landscape */
@media only screen
  and (max-device-width: 320px)
  and (-webkit-min-device-pixel-ratio: 2) {

}
@media screen and (min-width: 600px) {

}
@media screen and (min-width: 810px) {

}
@media screen and (min-width: 760px) {

}
@media screen and (min-width: 1024px) {

}

figure {
  margin: 0;
  padding: 0;
}
iframe { margin-bottom: 32px; }

.credits {
  text-align: center;
  background-color: #000;
  width: auto;
  padding: 2rem;
  margin-bottom: 2rem;
}
.credits p {
  padding: 0;
  margin: 0;
}
footer.global {
  position: relative;
  text-align: center;
  padding: 6rem 0 3rem 0;
  padding-top: 0;
  margin-top: 90%;
}
footer.global::after {
  /* bug icon */
  content: "\f188";
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  /* bug icon end */
  position: absolute;
  z-index: 900;
  left: 50%;
  bottom: 15%;
  will-change: transform, opacity;
  transform: translate3d(0, -50%, 0);
  opacity: .5;
  color: #fff;
  text-align: center;
}
footer.global {
  color: #fefefe;
  background-color: #333;
}
footer.global a {
  color: #fefefe;
}
footer.global .heart {
  color: #FF0082;
}
footer.global a:hover {
  color: #FF0082;
}

footer.content-footer {
  text-align: center;
}

footer.content-footer p {
  font-size: 2em;
  margin: 0;
}
a {
  color: #333;
  text-decoration: none;
  transition: all .2s ease-in;
}
a:hover { color: #B20D61; }

header.global {
  position: relative;
  z-index: 1000;
  top: 0; left: 0; right: 0;
  padding-top: 1rem;
  background-color: rgba(0, 0, 0, 0.75);
}
header.global .name h1,
header.global .name h4 {
  line-height: 1em;
  margin: 0;
  padding: 0;
  margin-right: .5em;
}
header.global .name h4 {
  width: 50px;
  font-size: 1em;
}
header.global .name h1 {
  line-height: 1em;
  margin: -14px 16px;
  padding: 0;
  font-size: 4.5em;
  margin-right: .5em;
}
header.global h1 a {
  color: #fff;
}

.toggler { display: none; }

@media screen and (max-width: 760px) {
  .happy header.global {
    position: fixed;
    transform: translate3d(0,-95%,0);
  }
  .happy header.global.open {
    transform: translate3d(0,0,0);
    height: inherit;
  }
  .happy .toggler {
    display: block;
    position: fixed;
    z-index: 1001;
    top: 0;
    right: 1rem;
    width: 30px;
    height: 23px;
    margin: 1em auto;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .5s ease-in-out;
    -moz-transition: .5s ease-in-out;
    -o-transition: .5s ease-in-out;
    transition: .5s ease-in-out;
    cursor: pointer;
    opacity: .5;
  }
  .toggler span {
    display: block;
    position: absolute;
    height: 5px;
    width: 100%;
    background: rgb(255, 255, 255);
    border-radius: 9px;
    opacity: 1;
    left: 0;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .25s ease-in-out;
    -moz-transition: .25s ease-in-out;
    -o-transition: .25s ease-in-out;
    transition: .25s ease-in-out;
  }
  .toggler span:nth-child(1) {
    top: 0px;
  }

  .toggler span:nth-child(2), .toggler span:nth-child(3) {
    top: 9px;
  }

  .toggler span:nth-child(4) {
    top: 18px;
  }

  .toggler.open span:nth-child(1) {
    top: 9px;
    width: 0%;
    left: 50%;
  }

  .toggler.open span:nth-child(2) {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
  }

  .toggler.open span:nth-child(3) {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
  }

  .toggler.open span:nth-child(4) {
    top: 9px;
    width: 0%;
    left: 50%;
  }
}

@media screen and (min-width: 760px) {
  header.global {
    padding: 1em;
    height: 5rem;
    position: fixed;
    display: flex;
    transform: translate3d(0,0,0);
  }

}

/**
* Navigation
*/

nav.global {
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 2rem;
}
.nav-item {
  font-family: "Bebas Neue", sans-serif;
  display: block;
  margin-right: 1px;
  padding: .5em;
  color: #eee;
  margin-bottom: 1px;
  text-align: center;
}
.nav-item.active,
.nav-item:hover {
  color: #fff;
}
.nav-item.active {
  background-color: transparent;
}

@media screen and (min-width: 760px) {
  nav.global {
    display: flex;
    justify-content: flex-start;
    margin-right: 3rem;
    padding: 0;
  }
  .nav-item {
    font-size: 1em;
    background-color: transparent;
    padding: .5em 1em;
  }
}
nav.social {
  position: relative;
  display: none;
  align-items: center;
  justify-content: center;
  margin-top: 1.5rem;
}
#contact nav.social {
  position: relative;
}
.social-item {
  margin-top: .5em;
  padding: .5em 1em;
  color: #eee;
  opacity: .9;
}
.social-item:hover {
  color: #fff;
}
.social-item-icon { font-size: 1.5em; }
.social-item-label { display: none; }
@media screen and (min-width: 760px) {
  nav.social {
    display: block;
    margin-top: 0;
    display: flex;
  }
  .social-item {
    margin-top: 0;
    padding: 1rem .5rem;
  }
  .social-item { display: block; }
}
/*
  #nav-icon-menu
*/
#nav-icon-menu span:nth-child(1) {
  top: 0px;
}

#nav-icon-menu span:nth-child(2),#nav-icon3 span:nth-child(3) {
  top: 18px;
}

#nav-icon-menu span:nth-child(4) {
  top: 36px;
}

#nav-icon-menu.open span:nth-child(1) {
  top: 18px;
  width: 0%;
  left: 50%;
}

#nav-icon-menu.open span:nth-child(2) {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}

#nav-icon-menu.open span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

#nav-icon-menu.open span:nth-child(4) {
  top: 18px;
  width: 0%;
  left: 50%;
}

/*
  #nav-icon-menu end
*/

.post { margin-bottom: 96px; }
.post img { max-width: 100%; }

.center { text-align: center; }
.fl { float: left; }
.fr { float: right; }

.small time { color: #999; }

/**
* About
*/
.Marcela.Viola {
  border-top: 0 solid #222;
  /*
  border-bottom: 1em solid #333;
  background-color: #000;
  */
  padding: 0;
}
.Marcela.Viola::before {
  top: -1em;
}

/* links */
.social-link {
  display: block;
  line-height: 1.5em;
}
.social-link-icon { font-size: 1.5em; }
.social-link-label {
  margin-left: .5em;
  display: inline;
  vertical-align: top;
}

/**
* Group of images
*/

.images {
  overflow: hidden;
  margin: 2rem 0;
}
.images figure {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  align-content: flex-start;
  justify-content: center;
  width: 100%;
  overflow-y: scroll;
}
.images figure img {
  display: block;
  width: 100%;
}

/* images quirks */
.images.size-1 figure img { width: 100%; }
.images.size-2 figure img { width: 50%; }
.images.size-3 figure img { width: 33.3333%; }
.images.size-4 figure img { width: 25%; }
.images.size-5 figure img { width: 20%; }

.fader figure img {
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  transition: all 1s ease-in-out;
  z-index: 0;
  will-change: transform, opacity;
  transform: translate3d(0,0,0);
}
.fader .prepare,
.fader .fade-in,
.fader .fade-out,
.fader img:first-of-type {
  opacity: 1;
  z-index: 1;
}
.fader .fade-in {
  z-index: 2;
}
.fader .prepare {
  z-index: 1;
  opacity: 0;
}
.fader .fade-out {
  z-index: 0;
  opacity: 0;
}

/*
  Hero Video
*/

.hero-video {
  position: fixed;
  margin-top: 80px;
  object-fit: cover;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  right: 0;
  /* z-index: -100; */
}