<section class="about">
    <article class="bio">
        {{ partial "hero.html" . }}
        <p>My name is Marcela Viola, I was born in Buenos Aires, Argentina and some years ago I moved to Amsterdam where I became a fearless biker.
        <p>I'm an Aerialist, a Yoga teacher, a baker, a designer, a perfectionist, a world traveller and a chocolate addict.
        <figure><img class="bio-primary" alt="Marcela Viola Aerial Silks Tissue"src="/assets/images/about/x1/bio.jpg" data-lowres="/assets/images/about/x1/bio.jpg" data-highres="/assets/images/about/x2/bio.jpg"></figure>
        <p>I was introduced to the aerial silks in my early twenties and never stopped training. I've tried pretty much everything that would get me in the air, from flying trapeze to chinese pole and now I focus my training in aerial hoop, silks, rope, and aerial straps.
        I've trained and performed in several places around the world like Argentina, Scotland, France, Spain, USA, and The Netherlands.
        I'm devoted to yoga and conscious eating. I love to explore new healthy recipes and share them on <a href="https://medium.com/@marcelaviola" target="_blank">my blog</a>.
        <figure><img class="bio-secondary" alt="Marcela Viola Aerial Silks Tissue" src="/assets/images/about/x1/about.jpg" data-lowres="/assets/images/about/x1/about.jpg" data-highres="/assets/images/about/x2/about.jpg"></figure>
        <p>I'm a teacher and I learn from my students every day. I'm an artist and I feel blessed each time I perform in front of an audience.
    </article>
</section>