<section id="about">
    <header>
        <h1>About</h1>
    </header>
    <figure>
        <img class="primary-image" alt="" src="/assets/images/about/x1/about.jpg" data-lowres="/assets/images/about/x1/about.jpg" data-highres="/assets/images/about/x2/about.jpg" />
    </figure>
    <article class="content">

        <p>I'm a holistic coach experienced in developing tailored training and nutrition solutions to help you achieve a thriving healthy lifestyle.</p>

        <p>For the past 20 years  I’ve been an aerialist, a yoga teacher, a handstands practitioner, a gym rat, a vegetarian, a vegan (very very briefly) and a protein junkie.</p>
            
        <p>Through my own trial and error and also the experiences I collected from my students and clients I learned to combine the best of the many disciplines, training methods, diets and habits to optimise a healthy lifestyle that fits you and your unique routine.</p>
            
        <p>I specialize in:</p>
        <ul>
            <li>Strength and resistance training</li>
            <li>Mobility and flexibility</li>
            <li>Nutrition Coaching</li>
            <li>Habit training</li>
        </ul>
        
        <p>I work side by side with my clients making every decision together and learning to pivot and adapt as we progress towards your goals.</p>
        
    </article>
</section>
