<section id="contact">
    <header>
        <h1>Contact</h1>
    </header>
    <figure>
        <img class="primary-image" alt="" src="/assets/images/contact/x1/contact.jpg" data-lowres="/assets/images/contact/x1/contact.jpg" data-highres="/assets/images/contact/x2/contact.jpg" />
    </figure>
    <article class="content">

        <p>You’ve made it this far! you know what you want and this is your time to work on yourself.</p>

        <p>I offer different options to accommodate everybody:</p>

        <ul>
            <li>1 on 1 in-person training</li>
            <li>Small group class</li>
            <li>Online live coaching</li>
            <li>Online 4-8 weeks program with weekly check-ins.</li>
        </ul>

        <a href="https://forms.zohopublic.com/strongwithmarce/form/CounselingIntakeForm/formperma/8USVH11UWDlS7BZzV5T-NTyTmDyxdC4QonTF-DyAqRA" target="_blank">Start with the training onboarding form.</a>

    </article>
</section>
