<section id="credentials">
    <header>
        <h1>Credentials</h1>
    </header>
    <figure>
        <img class="primary-image" alt="" src="/assets/images/credentials/x1/credentials.jpg" data-lowres="/assets/images/credentials/x1/credentials.jpg" data-highres="/assets/images/credentials/x2/credentials.jpg" />
    </figure>
    <article class="content">

        <h2>Girls Gone Strong</h2>

        <p>Certified Pre & Post Natal Coach - 2022</p>

        <h2>Flexibility Research</h2>

        <p>Master Flexibility Training - 2021</p>

        <h2>Precision Nutrition</h2>

        <p>Precision Nutrition Level 1 - 2021</p>

        <h2>All Yoga</h2>

        <p>Ashtanga yoga YTT - 2019</p>
        
    </article>
</section>
