</main>
<footer class="global">
    <p>Photography by <a href="https://www.instagram.com/ted__charles/" target="_blank">@ted__charles</a> (<a href="https://www.tedcharles.com/" target="_blank">tedcharles.com</a>) and <a href="https://www.instagram.com/rbr75/" target="_blank">@rbr75</a></p>
    <p>Crafted with <em>extra</em> <span class="heart">❤</span></i> by <a href="http://www.natansantolo.com" target="_blank">Natan</a><br/> &copy;{{ now.Year }} all rights reserverd</p>
</footer>
<script src="/assets/js/marcelaviola.com.min.js" async></script>
</body>

</html>