</main>
<footer class="global">
    <div class="credits">
        <p>📸 Photography by <a href="https://www.instagram.com/ted__charles/" target="_blank">@ted__charles</a> and <a href="https://www.instagram.com/rbr75/" target="_blank">@rbr75</a></p>
    </div>
    <p>Crafted with <em>extra</em> <span class="heart">❤</span></i> by <a href="http://www.natansantolo.com" target="_blank">Natan</a><br/> &copy;{{ now.Year }} all rights reserverd</p>
</footer>
<script src="/assets/js/marcelaviola.com.min.js" async></script>
</body>
</html>