{{ $urlPre := "https://api.instagram.com/v1/users/self/media/recent/?count=" }}
{{ $urlPos := "&access_token=" }}
{{ $url := (print $urlPre $.Site.Data.instagram.config.size $urlPos $.Site.Data.instagram.config.access_token) $urlPos }}
{{ $render := $.Site.Data.instagram.config.render }}
{{ $size := $.Site.Data.instagram.config.size }}
<section class="gallery">
    <h3><a href="https://www.instagram.com/pulgacion/" target="_blank">Instagram @pulgacion</a></h3>
    <!-- <article class="instagramas" data-source="{{ $url }}" {{ with $render }} data-render="{{ . }}"{{ end }}></article> -->
    <article class="instagramas" data-access-token="{{ $.Site.Data.instagram.config.access_token }}" data-show-tags-count="1" data-show-tags="true" data-show-likes="true" {{ with $size }} data-count="{{ . }}"{{ end }}{{ with $render }} data-render-type="{{ . }}"{{ end }}></article>
</section>
