<meta charset="utf-8" />
<title>{{ .Site.Title }}</title>
<meta name="author" content="{{ .Site.Params.Author.name }}" />
<meta name="description" content="{{ .Site.Params.description }}" />
<meta name="keywords" content="{{ .Site.Params.keywords }}" />
<meta name="viewport" content="width=device-width, initial-scale=1" />

<meta property="og:title" content="{{ .Site.Title }}" />
<meta property="og:type" content="website" />
<meta property="og:url" content="http://www.marcelaviola.com" />
<meta
  property="og:image"
  content="http://www.marcelaviola.com/assets/images/marcelaprofile.jpg"
/>
<meta property="og:site_name" content="{{ .Site.Title }}" />
<meta property="og:description" content="{{ .Site.Params.Description }}" />

<link rel="canonical" href="{{ .Permalink }}" />
<link rel="icon" href="/assets/images/favicon.png" />
<link rel="stylesheet" href="/assets/css/style.css" />
<link
  rel="stylesheet"
  href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css"
/>
<script>
  document.getElementsByTagName("html")[0].className = "happy";
</script>

<link rel="preconnect" href="https://fonts.googleapis.com" />
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
<link
  href="https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap"
  rel="stylesheet"
/>
