<section id="services">
  <header>
    <h1>Services</h1>
  </header>
  <figure>
    <img
      class="primary-image"
      alt=""
      src="/assets/images/services/x1/services.jpg"
      data-lowres="/assets/images/services/x1/services.jpg"
      data-highres="/assets/images/services/x2/services.jpg"
    />
  </figure>
  <article class="content">
    <p>
      Do you want to make better food choices and all the internet information
      is overwhelming?
    </p>

    <p>
      Do you want to start working out but you don't know where to start at the
      gym and you don't know what to do with all the equipment?
    </p>

    <p>
      Do you want to move better, relieve back or neck everlasting pain, and
      feel free to move any way you want?
    </p>

    <p>You came to the right place!</p>

    <p>
      I want to understand YOU, I want to know what is important to you and what
      your goals are.
    </p>

    <p>
      I want to show you that whatever the starting point is, you can feel and
      perform better.
    </p>
  </article>
</section>
<section class="services">
  <figure>
    <img
      class="primary-image"
      alt=""
      src="/assets/images/nutrition/x1/nutrition.jpg"
      data-lowres="/assets/images/nutrition/x1/nutrition.jpg"
      data-highres="/assets/images/nutrition/x2/nutrition.jpg"
    />
  </figure>
  <article class="content">
    <h2>Nutrition Coaching</h2>

    <p>Build better habits around food.</p>

    <p>
      Learn what you need to eat to fuel properly for your activity level and
      life demands.
    </p>

    <p>
      I help everyday clients improve their relationship with food, and
      understand the basics of wholesome nutrition to feel better from the
      inside out.
    </p>

    <p>
      I coach athletes and individuals with specific goals for lifestyle and
      performance:
    </p>

    <ul>
      <li>Calorie targets</li>
      <li>Body recomposition</li>
      <li>Macro planning</li>
      <li>Meal prepping</li>
      <li>Eating out and staying on track</li>
      <li>Grocery list</li>
    </ul>
  </article>
</section>
<section class="services">
  <figure>
    <img
      class="primary-image"
      alt=""
      src="/assets/images/strength/x1/strength.jpg"
      data-lowres="/assets/images/strength/x1/strength.jpg"
      data-highres="/assets/images/strength/x2/strength.jpg"
    />
  </figure>
  <article class="content">
    <h2>Strength Training</h2>

    <p>
      Either you are new to training or you’ve been around for a bit but you do
      not see the results you want and you are ready to get serious, I have a
      solution for you ;)
    </p>

    <p>I want to understand you to help you get where you want to be:</p>

    <ul>
      <li>Do you want to get stronger?</li>
      <li>Gain muscle?</li>
      <li>Lose body fat and get leaner?</li>
      <li>Test how heavy you can lift?</li>
      <li>Get a simple routine to do every day and feel replenished.</li>
    </ul>

    <p>No goal is too big or small and you can do anything you commit to do!</p>
  </article>
</section>
<section class="services">
  <figure>
    <img
      class="primary-image"
      alt=""
      src="/assets/images/mobility/x1/mobility.jpg"
      data-lowres="/assets/images/mobility/x1/mobility.jpg"
      data-highres="/assets/images/mobility/x2/mobility.jpg"
    />
  </figure>
  <article class="content">
    <h2>Mobility Coaching</h2>

    <p>
      If you are tired of that nagging lower back pain or you keep getting
      injured in the same spot over and over or you want to take your athletic
      performance to the next level, you need to start working on your mobility.
    </p>

    <p>
      Mobility training combines different methods to improve your full ROM
      (range of motion) and your capacity to move through your full ROM with
      control and awareness.
    </p>

    <p>
      Having proper mobility requires so much more than stretching, you will be
      training your flexibility together with the needed strength to support
      your muscles and joints.
    </p>
  </article>
</section>
